target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Project Specific ###
/database.mv.db
/database.trace.db
/.pmd
/bin/
/.checkstyle
/.pmdruleset.xml
/sldownloader.log
