table#correlation_matrix_table>tbody>tr>td {
    font-size: 9px;
    min-width: 70px;
    padding: 5px;
}

table#correlation_matrix_table>tbody>tr>td.top-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    min-width: 20px;
    height: 70px;
}

table#correlation_matrix_table>tbody>tr>td.side-title {
    min-width: 60px;
    max-width: 100px;
}

table#correlation_matrix_table>tbody>tr>td.empty {
    background-color: #f5f5f5;
}

table#correlation_matrix_table>tbody>tr>td.empty-dark {
    background-color: #999999;
}

table#correlation_matrix_table>tbody>tr>td.color-p09 {
    background-color: #5CB85C;
}

table#correlation_matrix_table>tbody>tr>td.color-p08 {
    background-color: #6EBB52;
}

table#correlation_matrix_table>tbody>tr>td.color-p07 {
    background-color: #80BD48;
}

table#correlation_matrix_table>tbody>tr>td.color-p06 {
    background-color: #92C03D;
}

table#correlation_matrix_table>tbody>tr>td.color-p05 {
    background-color: #A4C333;
}

table#correlation_matrix_table>tbody>tr>td.color-p04 {
    background-color: #B7C529;
}

table#correlation_matrix_table>tbody>tr>td.color-p03 {
    background-color: #C9C81F;
}

table#correlation_matrix_table>tbody>tr>td.color-p02 {
    background-color: #DBCB14;
}

table#correlation_matrix_table>tbody>tr>td.color-p01 {
    background-color: #EDCD0A;
}

table#correlation_matrix_table>tbody>tr>td.color-p00 {
    background-color: #FFD000;
}

table#correlation_matrix_table>tbody>tr>td.color-n01 {
    background-color: #FBC408;
}

table#correlation_matrix_table>tbody>tr>td.color-n02 {
    background-color: #F7B710;
}

table#correlation_matrix_table>tbody>tr>td.color-n03 {
    background-color: #F4AB18;
}

table#correlation_matrix_table>tbody>tr>td.color-n04 {
    background-color: #F09E20;
}

table#correlation_matrix_table>tbody>tr>td.color-n05 {
    background-color: #EC9228;
}

table#correlation_matrix_table>tbody>tr>td.color-n06 {
    background-color: #E8852F;
}

table#correlation_matrix_table>tbody>tr>td.color-n07 {
    background-color: #E47937;
}

table#correlation_matrix_table>tbody>tr>td.color-n08 {
    background-color: #E16C3F;
}

table#correlation_matrix_table>tbody>tr>td.color-n09 {
    background-color: #DD6047;
}

table#correlation_matrix_table>tbody>tr>td.color-n10 {
    background-color: #D9534F;
}