<!DOCTYPE html>
<html layout:include="base/base_template :: base"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>NAVPS Graph</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div id='chart_div'
                style="width: 100%; min-height: 300px; padding: 0px;"
            ></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <hr />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <label for="fundPicker">Fund:</label> <select
                id="fundPicker" class="selectpicker" data-width="100%"
            >
            </select>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <h1>Tools</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Moving Average</b>
                </div>
                <div class="panel-body">
                    <div class="form-check">
                        <input
                            class="form-check-input analysis-selector"
                            type="checkbox" value="" id="ma_5"
                        /> <label class="form-check-label" for="ma_5">
                            5D MA </label>
                    </div>
                    <div class="form-check">
                        <input
                            class="form-check-input analysis-selector"
                            type="checkbox" value="" id="ma_10"
                        /> <label class="form-check-label" for="ma_10">
                            10D MA </label>
                    </div>
                    <div class="form-check">
                        <input
                            class="form-check-input analysis-selector"
                            type="checkbox" value="" id="ma_20"
                        /> <label class="form-check-label" for="ma_20">
                            20D MA </label>
                    </div>
                    <div class="form-check">
                        <input
                            class="form-check-input analysis-selector"
                            type="checkbox" value="" id="ma_40"
                        /> <label class="form-check-label" for="ma_40">
                            40D MA </label>
                    </div>
                    <div class="form-check">
                        <input
                            class="form-check-input analysis-selector"
                            type="checkbox" value="" id="ma_80"
                        /> <label class="form-check-label" for="ma_80">
                            80D MA </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Exponential Moving Average</b>
                </div>
                <div class="panel-body">
                    <div class="form-check">
                        <input
                            class="form-check-input analysis-selector"
                            type="checkbox" value="" id="ema_5"
                        /> <label class="form-check-label" for="ema_5">
                            5D EMA </label>
                    </div>
                    <div class="form-check">
                        <input
                            class="form-check-input analysis-selector"
                            type="checkbox" value="" id="ema_10"
                        /> <label class="form-check-label" for="ema_10">
                            10D EMA </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Linear Regression</b>
                </div>
                <div class="panel-body">
                    <div class="form-check">
                        <input
                            class="form-check-input analysis-selector"
                            type="checkbox" value="" id="lin_reg"
                        /> <label class="form-check-label"
                            for="lin_reg"
                        > Linear Regression </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <hr />
        </div>
    </div>
</th:block>
<th:block layout:fragment="additional_css">
</th:block>
<th:block layout:fragment="additional_js">
    <script type="text/javascript" src="/js/datatable_settings.js"></script>
    <script type="text/javascript" src="/js/analysis_chart.js"></script>
    <script type="text/javascript" src="/js/analysis/modules.js"></script>
    <script type="text/javascript" src="/js/analysis/moving_avg.js"></script>
    <script type="text/javascript" src="/js/analysis/exp_moving_avg.js"></script>
    <script type="text/javascript" src="/js/analysis/lin_regression.js"></script>
</th:block>
</html>
