<html>
<head>
<title>SLAMC NAVPS Viewer</title>
<link rel="stylesheet" type="text/css"
  href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
></link>
<link rel="stylesheet" type="text/css"
  href="/webjars/bootstrap-select/1.12.2/dist/css/bootstrap-select.min.css"
></link>
<link rel="stylesheet" type="text/css"
  href="/webjars/datatables/1.10.15/css/jquery.dataTables.min.css"
></link>
<link rel="stylesheet" type="text/css"
  href="/webjars/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css"
></link>
<link rel="stylesheet" type="text/css" href="/css/app.css"></link>
</head>
<body class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h1>NAVPS Graph</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div id='chart_div'
        style="width: 100%; min-height: 300px; padding: 0px;"
      ></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <hr />
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <select id="fundPicker" class="selectpicker" multiple="multiple"
        data-width="100%"
      >
      </select>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <a class="btn btn-default"
        onclick="javascript:updateChartFromPicker()"
      >Refresh</a>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h1>Running Tasks</h1>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
      style="margin-top: 4px;"
    >
      <table id="runningTasks"
        class="table table-bordered table-condensed"
      >
        <thead>
          <tr>
            <th width="10%">ID</th>
            <th width="15%">Date From</th>
            <th width="15%">Date To</th>
            <th width="60%">Fund</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
      <h1>All Tasks</h1>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <div id="allTasksRefresh" class="btn btn-default pull-right"
        style="margin-top: 20px;"
      >Refresh</div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <div class="form-group">
        <div class='input-group date' id='dateFilter'>
          <input type='text' class="form-control" /> <span
            class="input-group-addon"
          > <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <select id="fundFilter" class="selectpicker" data-width="100%">
        <option value="">All Funds</option>
      </select>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <select id="statusFilter" class="selectpicker" data-width="100%">
        <option value="">All Statuses</option>
        <option value="SUCCESS">SUCCESS</option>
        <option value="FAILED">FAILED</option>
        <option value="PENDING">PENDING</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
      style="margin-top: 4px;"
    >
      <table id="allTasks" class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th width="10%">ID</th>
            <th width="10%">Date From</th>
            <th width="10%">Date To</th>
            <th width="45%">Fund</th>
            <th width="25%">Status</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <hr />
    </div>
  </div>
  <!-- Scripts -->
  <!-- google chart -->
  <script type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"
  ></script>
  <!-- webjars -->
  <script type="text/javascript"
    src="/webjars/jquery/3.1.1-1/jquery.min.js"
  ></script>
  <script type="text/javascript"
    src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"
  ></script>
  <script type="text/javascript"
    src="/webjars/bootstrap-select/1.12.2/dist/js/bootstrap-select.min.js"
  ></script>
  <script type="text/javascript"
    src="/webjars/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"
  ></script>
  <script type="text/javascript"
    src="/webjars/datatables/1.10.15/js/jquery.dataTables.min.js"
  ></script>
  <!-- app -->
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/fund_chart.js"></script>
  <script type="text/javascript" src="/js/fund_picker.js"></script>
  <script type="text/javascript" src="/js/running_tasks.js"></script>
  <script type="text/javascript" src="/js/all_tasks.js"></script>
</body>
</html>
