<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="css">
    <link rel="stylesheet" type="text/css"
        href="/webjars/bootstrap/3.4.1/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css"
        href="/webjars/bootstrap-select/1.13.18/css/bootstrap-select.min.css"></link>
    <link rel="stylesheet" type="text/css"
        href="/webjars/datatables/1.10.15/css/jquery.dataTables.min.css"></link>
    <link rel="stylesheet" type="text/css"
        href="/webjars/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/app.css"></link>
</th:block>
</html>